<!-- Template styles -->
<style rel="stylesheet">
    /* TEMPLATE STYLES */

    main {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    div.emoji-picker-container {
        width: 100%;
    }

</style>

<%= form_for(@article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_horizontal">
  <div class="form-group">
    <%= f.label :title, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <div class="emoji-picker-container">
        <%= f.text_field :title, class: 'form-control', data: { emojiable: true } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <div class="emoji-picker-container">
          <%= f.text_area :body, class: 'form-control', data: { emojiable: true } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tags, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
        <%= f.text_field :tags, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_url, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :image_url, class: 'form-control' %>
    </div>
  </div>

<div class="col-sm-10">
  <div class="actions">
    <%= f.submit "Create article", class: "btn btn-success"%>
  </div>
</div>

</div>
<% end %>
