<%= form_for(@article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <div class="emoji-picker-container">
      <%= f.text_field :title, class: 'form-control', data: { emojiable: true } %>
    </div>
  </div>

  <div class="field">
    <%= f.label :body %>
    <p class="emoji-picker-container">
      <%= f.text_area :body, class: 'form-control', data: { emojiable: true } %>
    </p>
  </div>

  <%= fields_for @tag do |u| %>
  <div class="field">
    <%= u.label :tags %>
    <div>
      <%= u.text_field :content, class: 'form-control' %>
    </div>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
